@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --c-black: #011932;
  --c-white: #e6f5ff;
  --c-blue: #2d82b7;
  --c-yellow: #f4d35e;

  --c-background: var(--c-white);
  --c-foreground: var(--c-black);
}

@theme inline {
  --color-background: var(--c-background);
  --color-foreground: var(--c-foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-background: var(--c-black);
    --c-foreground: var(--c-white);
  }
}

body {
  background: var(--c-background);
  color: var(--c-foreground);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
